<div style="background: #ffffff;padding:30px;">
    <div nz-row [nzGutter]="8">
      <div  *ngFor="let item of directories" nz-col [nzSpan]="8" nzSm="24" nzMd="12" nzLg="8" nzXl="8" nzXs="23"  nzXXl="6" style="margin-top: .9rem;" >
        <nz-card  nzHoverable="true" (click)="navigateToDirectory(item.link)">
            <span nz-icon [nzType]="item.icon" nzTheme="outline" >  </span>
                <h3> {{item.title}} </h3>
            <p>{{item.description}}</p>
        </nz-card>
      </div>
    </div>
  </div>
