<div nz-row nzType="flex" nzJustify="start" nzAlign="top" class="main">
  <div nz-col nzSpan="4">
    <nz-steps
      [nzCurrent]="index"
      nzType="navigation"
      nzDirection="vertical"
      nzSize="small"
      (nzIndexChange)="onIndexChange($event)"
    >
      <nz-step
        nzTitle="Basic Information"
        nzDescription="This is a description."
      ></nz-step>
      <nz-step
        nzTitle="Profile Image"
        nzDescription="This is a description."
      ></nz-step>
      <nz-step
        nzTitle="Contact Information"
        nzDescription="This is a description."
      ></nz-step>
      <nz-step
      nzTitle="Contact Person"
      nzDescription="This is a description."
    ></nz-step>
      <nz-step
        nzTitle="Background Info"
        nzDescription="This is a description."
      ></nz-step>
      <nz-step
        nzTitle="Employment"
        nzDescription="This is a description."
      ></nz-step>
    </nz-steps>
  </div>

  <div nz-col nzSpan="19">
    <div [ngSwitch]="index">
      <div *ngSwitchCase="0">
        <app-employee-basic
          (messageEvent)="onIndexChange($event)"
        ></app-employee-basic>
      </div>
      <div *ngSwitchCase="1">
        <app-profile-image
          (messageEvent)="onIndexChange($event)"
        ></app-profile-image>


      </div>
      <div *ngSwitchCase="2">
        <app-contact
        (messageEvent)="onIndexChange($event)">

        </app-contact>
      </div>
      <div *ngSwitchCase="3">
        <app-contact-person
          (messageEvent)="onIndexChange($event)">

        </app-contact-person>
      </div>
      <div *ngSwitchCase="4"></div>
      <div *ngSwitchCase="5">Employment</div>
      <div *ngSwitchDefault>output2</div>
    </div>
  </div>
</div>
