<div>
  <h3>Grades</h3>
  <button nz-button nzType="default" style="margin-bottom: 1rem;" routerLink="grade/-1">
    <i nz-icon nzType="plus"></i>
    Add Grade
</button>
  <nz-table #nzTable #sortTable [nzData]="grades" nzSize="small" [nzPageSize]="10">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumns"
        [nzSortPriority]="column.priority"
        [nzSortFn]="column.compare"
       >  {{ column.title }}</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of nzTable.data" (click)="edit(i)">
        <td>{{i.name}}</td>
        <td>{{i.minExperienceRequired}}</td>
        <td>{{i.maxExperienceRequired}}</td>
      </tr>
    </tbody>
  </nz-table>

</div>
