app-nav-bar{
  padding-bottom: 3rem;
}
  nz-footer {
    text-align: center;
    background-color: rgb(241, 241, 241);
    color: rgb(24, 24, 24);
    }

.footer{
}
.container-layout{
  height: 100%;
}
