
 <nz-header >
    <div class="logo">
      <div><h5 nz-typography>HRM-ADA</h5></div>
    </div>

    <ul nz-menu  nzMode="horizontal" >
      <li  nz-menu-item>
        <a [routerLink]="['/', 'dashboard']" routerLinkActive="active">Dashboard</a>
      </li>

      <li  nz-menu-item>
        <a [routerLink]="['/configuration']" routerLinkActive="active">Configuration</a>
      </li>

      <li  nz-menu-item>
        <a [routerLink]="['/', 'employee']" routerLinkActive="active" >Employee</a>
      </li>

      <li  nz-menu-item>
        <a [routerLink]="['/', 'setting']" routerLinkActive="active">Setting</a>
      </li>
    </ul>
  </nz-header>
