.logo {
    width: 120px;
    height: 31px;
    background: rgba(34, 21, 21, 0.2);
    margin: 9px 8px 9px 0;
   float: left;
   margin-left: 1rem;
  }
  nz-header {
    position: fixed;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color:#fff;
  }

  nz-header ul {
    display: flex;
    justify-content: start;
  }
  .header-menu {
    line-height: 3.5rem;
    display:flex;
    justify-content:center;
}

nz-header ul li a{
  text-decoration: none;
  font-size: .8rem;
  font-weight: 900;
  font-stretch: condensed;
  color: rgb(105, 105, 105);
  font-family: Poppins ;
  &.active{
    font-weight: bolder;
    color: rgb(0, 0, 0);

  }
}
