
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  float: right;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.inner-layout {
  padding: 0 12px 12px;
  background-color: white;

}


nz-breadcrumb {
  margin: 10px 0;
}
.inner-content {
  background-color: white;
  padding: 2px;
  min-height: 70vh;
}

nz-sider ul {
  background-color: rgb(255, 255, 255);
  height: 100%;
}


